Dockerfile export-ignore
commands export-ignore
.github/ export-ignore
docker-compose.yml export-ignore
entrypoint.sh export-ignore
.php-cs-fixer.dist.php export-ignore
phpstan.neon export-ignore
rector.php export-ignore