Dockerfile export-ignore
commands export-ignore
.github/ export-ignore
docker-compose.yml export-ignore
entrypoint.sh export-ignore
app/.php-cs-fixer.dist.php export-ignore
app/phpstan.neon export-ignore
app/rector.php export-ignore