services:
  app:
    build: 
        context: .
        args:
            PHP_VERSION: ${PHP_VERSION}
    volumes:
      - ./src:/app/src
      - ./tests:/app//tests
      - ./vendor:/app/vendor
      - ./composer.json:/app/composer.json
      - ./composer.lock:/app/composer.lock
      - ./rector.php:/app/rector.php
      - ./phpstan.neon:/app/phpstan.neon
      - ./.php-cs-fixer.dist.php:/app/.php-cs-fixer.dist.php
    networks:
      - cache-multi-layer-network
    depends_on:
      redis-server:
        condition: service_started
      memcache-server:
        condition: service_started
  redis-server:
    image: redis
    networks:
      - cache-multi-layer-network
  memcache-server:
    image: memcached
    networks:
      - cache-multi-layer-network
networks:
   cache-multi-layer-network:
    